// Mixins Here

.flexBox(@direction, @wrap, @justify, @align-content){
    display: flex;
    flex-flow: @direction @wrap;
    justify-content: @justify;  
    align-content: @align-content;
}

.signUpBtn(@padding, @font-size, @radius, @bg-color: @btn-bg-color, @color: @porcelain){
    padding: @padding;
    font-size: @font-size;
    background-color: @bg-color;
    border-radius: @radius;
    color: @color;
}
