// Mixins Here
.elementWidth(@width: @max-width){
    width: @width;
}


.flexBox(@direction, @wrap, @justify, @align-content){
    display: flex;
    flex-flow: @direction @wrap;
    justify-content: @justify;  
    align-content: @align-content;
}

.signUpBtn(@width: 0,@font-size, @radius, @padding: 10px 20px, @bg-color: @btn-bg-color, @color: @porcelain){
    width: @width;
    padding: @padding;
    font-size: @font-size;
    background-color: @bg-color;
    border-radius: @radius;
    color: @color;
}
