.navigation{
    position: fixed;
    width: @max-width;
    height: @nav-bar-height;
    border: 1px solid blue;
    background-color: @nav-bg;

    .nav-container{
        max-width: @nav-container-max-width;
        width: @max-width;
        margin: auto;
        border: 1px solid red;
    }
}